hr {
  width: 100%;
  margin: 25px 0 20px 0;
  border-color: #8a8a8a;
}

.CalculatorContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 3px solid #363636;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(115deg, #8a8a8a, #282828);
  padding: 20px 15px 15px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
  margin: 0 0 2px 0;
  font-size: 1rem;
  font-weight: 400;
  color: #e0e0e0;
}

.Display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 7px;
  max-width: 100%;
  height: 80px;
  padding: 5px 15px;
  background-color: #4d545b;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.Display-SubText {
  font-size: 0.7rem;
  height: 15px;
  min-height: 15px;
  max-width: 100%;
  overflow: hidden;
}

.Display-Text {
  display: flex;
  align-items: center;
  height: 25px;
  max-width: 100%;
  overflow: hidden;
}

.ButtonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.Button {
  cursor: pointer;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  transition: 300ms ease;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #272727;
}

.Button:active {
  filter: brightness(0.85);
}

.Grey {
  background-color: #f6f7f7;
}

.Orange {
  background-color: #f89d1b;
}

.ColTwo {
  grid-area: auto / span 2;
}
