.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav-Ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}
