.NavContainer {
  width: 100%;
  padding: 20px 32px 0 32px;
}

.Nav {
  justify-content: space-between;
  padding: 0 24px;
}

.Nav-Ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.Nav-Li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.Nav-Li a:hover {
  color: orange;
}

.Nav-Li a:active {
  filter: brightness(0.9);
}
